#chance
    .box
        .minibox
            width:150px
            height: 150px
            border: 1px solid grey
            border-radius: 50%
            background-color: brown
            color: white
            h1
                display: flex
                justify-content: center
                padding: 60px
