#demo
    .box
        padding: 50px
        .minibox
            width: 150px
            height: 80px
            border: 1px solid purple
            color: white
            background-color: purple
            &:hover
                    background-color: brown
            h1
                color: white
                padding: 10px 
                display: flex
                justify-content: center
                
